<!DOCTYPE html>
<html>
<head>
	<title>Chatroom</title>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<link rel='stylesheet' type='text/css' href='/css/reset.css'>
	<link rel='stylesheet' type='text/css' href='/css/main.css'>
	<script type='text/javascript' src='/js/jquery-1.11.0.js'></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='main_container'>
		<div id='object_wrapper'>
			<h1>Chatroom 2.0</h1>
			<form action='/' method='post'>
				<button type='submit' id='createChatroom'>Create Chatroom</button>
			</form>
		</div>
	</div>
</body>
</html>